<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(one:one)">
    <ion-router-outlet name="one"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Mails" icon="mail" href="/tabs/(two:two)">
    <ion-router-outlet name="two"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Favorites" icon="heart" href="/tabs/(three:three)">
    <ion-router-outlet name="three"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Profile" icon="person" href="/tabs/(four:four)">
    <ion-router-outlet name="four"></ion-router-outlet>
  </ion-tab>
</ion-tabs>