<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- searchbar -->
  <ion-searchbar
    animated="true"
    show-cancel-button
    placeholder="Chercher par localité"
    debounce="500">
  </ion-searchbar>

  <!-- first card -->
  <!-- <ion-card style="color: white;" >
    <div style="position: absolute; top: 0; left:0; right:0; bottom:0;">
      <img style="transform: scale(1)" src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=51a9aa4dd828bf5d50fcd8154dc405b8&auto=format&fit=crop&w=1500&q=80">
    </div>
    <ion-card-header translucent>
      <ion-card-title>
        Vélos
      </ion-card-title>
      <ion-card-subtitle>
        Equipment d'été
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="padding-top: 100px">
      
    </ion-card-content>
  </ion-card> -->

  <app-cards [title]="'Vélos'" [subtitle]="'equipment d\'été'" [image]="'https://images.pexels.com/photos/255934/pexels-photo-255934.jpeg?cs=srgb&dl=asphalt-bicycle-bike-255934.jpg&fm=jpg'" (click)="goCategory('bike')"></app-cards>
  <app-cards [title]="'Skis'" [subtitle]="'equipment d\'hiver'" [image]="'https://images.pexels.com/photos/257961/pexels-photo-257961.jpeg?cs=srgb&dl=active-activity-alps-257961.jpg&fm=jpg'" (click)="goCategory('ski')"></app-cards>

  <!-- second card -->
  <!-- <ion-card style="color: white;">
      <div style="position: absolute; top: 0; left:0; right:0; bottom:0;">
        <img style="transform: scale(1)" src="https://images.unsplash.com/photo-1517057011470-8f36d636e6ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dcecd9ec3b07624dedb0df0c7b3eeee&auto=format&fit=crop&w=1594&q=80">
      </div>
      <ion-card-header translucent>
        <ion-card-title>
          Skis
        </ion-card-title>
        <ion-card-subtitle>
          Equipment d'hiver
        </ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content style="padding-top: 100px">
        
      </ion-card-content>
    </ion-card> -->

    
      
  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="goAddPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="warning" (click)="goMap()">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>