<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Add Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Add Picture</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img *ngIf="img" src="{{img}}" alt="">
      <ion-button color="primary" (click)="startCamera()">
        <ion-icon name="camera"></ion-icon>Take
      </ion-button>
      <ion-button *ngIf="cameraPlugin?.img?.src" (click)="savePicture()">SAVE PICTURE</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="action-sheet" [(ngModel)]="creds.category" id="props" multiple="false" cancel-text="Cancel" ok-text="Okay!">
      <ion-select-option value="bike">Bike</ion-select-option>
      <ion-select-option value="skis">Skis</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item id="custom">
    <ion-label position="stacked">Type of bike</ion-label>
    <ion-input
      id="input2"
      type="text"
      placeholder="Ex: VTT, VTC"
      value=""
      [(ngModel)]="creds.type">
    </ion-input>
  </ion-item>
  
  <ion-item id="custom">
    <ion-label position="stacked">Type of skis</ion-label>
    <ion-input
      id="input2"
      type="text"
      placeholder="Ex: Alpin, Piste"
      value=""
      [(ngModel)]="creds.type">
    </ion-input>
  </ion-item>

  <ion-item id="custom">
    <ion-label position="stacked">Author</ion-label>
    <ion-input
      id="input2"
      type="text"
      placeholder="Author of post"
      value=""
      [(ngModel)]="creds.author">
    </ion-input>
  </ion-item>

  <ion-item id="custom">
    <ion-label position="stacked">Title</ion-label>
    <ion-input
      id="input2"
      type="text"
      placeholder="Add a title"
      value=""
      [(ngModel)]="creds.title">
    </ion-input>
  </ion-item>

  <!-- [(ngModel)]="credentials.email" -->

  <ion-item id="custom">
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea
      id="input2"
      type="text"
      placeholder="Add a description"
      value=""
      [(ngModel)]="creds.description">
    </ion-textarea>
  </ion-item>

  <ion-item id="custom">
    <ion-label position="stacked">Price</ion-label>
    <ion-input
      id="input2"
      type="number"
      placeholder="CHF"
      value=""
      [(ngModel)]="creds.price">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Price Type</ion-label>
    <ion-select [(ngModel)]="creds.priceType" id="props" multiple="false" cancel-text="Cancel" ok-text="Okay!">
      <ion-select-option value="fixed">Fixed</ion-select-option>
      <ion-select-option value="todiscuss">To Discuss</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Size</ion-label>
    <ion-select [(ngModel)]="creds.size" id="props" multiple="false" cancel-text="Cancel" ok-text="Okay!">
      <ion-select-option value="small">Small</ion-select-option>
      <ion-select-option value="medium">Medium</ion-select-option>
      <ion-select-option value="big">Big</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Disc</ion-label>
    <ion-select [(ngModel)]="creds.disc" id="props" multiple="false" cancel-text="Cancel" ok-text="Okay!">
      <ion-select-option value="platinum">Platinum</ion-select-option>
      <ion-select-option value="metal">Metal</ion-select-option>
      <ion-select-option value="carbonium">Carbonium</ion-select-option>
      <ion-select-option value="none">No</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <ion-item id="custom">
    <ion-label position="stacked">Size</ion-label>
    <ion-input
      id="input2"
      type="text"
      placeholder="Ex: medium, small"
      value=""
      [(ngModel)]="creds.size">
    </ion-input>
  </ion-item>

  <ion-item id="custom">
    <ion-label position="stacked">Disc</ion-label>
    <ion-input
      id="input2"
      type="text"
      placeholder="yes, no, platinum, metal"
      value=""
      [(ngModel)]="creds.disc">
    </ion-input>
  </ion-item> -->

  <ion-button expand="full" (click)="addPost()">
    Submit
  </ion-button>
</ion-content>


