<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Add Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <ion-button color="primary">
              <ion-icon name="add"></ion-icon>
            </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>