<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button (click)="dismiss()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

      <ion-item>
          <ion-avatar slot="end">
            <img src="https://images.unsplash.com/photo-1511125357779-27038c647d9d?auto=format&fit=crop&w=1951&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
          </ion-avatar>
          <ion-label>Wide Avatar</ion-label>
        </ion-item>

  </ion-content>

  <ion-button (click)="goRegister()">
      Register
  </ion-button>