<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button class="closeButton" fill="clear">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button fill="solid">
        Name
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">

  <ion-card *ngIf="!auth.isLoggedIn()" (click)="goLogin()">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-item>
  </ion-card>
  <p *ngIf="auth.isLoggedIn()">{{ auth.getUserDetails()?.name }}</p>
  <ion-button *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</ion-button>

  <ion-card *ngIf="auth.isLoggedIn()">
    <h1>Your profile</h1>
    
    <label>Full name</label>
    <p>{{ details?.name }}</p>
    <label>Email</label>
    <p>{{ details?.email }}</p>
  </ion-card>
  
</ion-content>


    
 



<!-- <ion-content padding>

</ion-content> -->

<ion-button expand="full" (click)="goRegister()">
  Register
</ion-button>